admittance_controller:

  # set admittance control

  # X_active_controller: admittance_v0
  # Y_active_controller: admittance_v0
  # Z_active_controller: admittance_v0

  X_active_controller: admittance_v1
  Y_active_controller: admittance_v1
  # Z_active_controller: admittance_v1

  # X_active_controller: Q_syn
  # Y_active_controller: Q_syn
  Z_active_controller: Q_syn


  # misc parameters
  debug: true
  viewer: false

  # system setup
  scene_path: robots/denso_ft_sensor_gripper.robot.xml
  robot_name: denso_ft_sensor_gripper
  manip_frame: gripper
  ftsensor_frame: ft_sensor
  robot_control_method: direct
  slave_mode: 1  # 1 for J1, 0 for J0 (RTOS required)

  initial_setpoints: [0.0, 0.0, 0.0]
  safety_force_threshold: 50.0

  # inverse kinematic parameters
  gam: 1.0e-5
  gam2: 0.0e-5

  # Linear controller definitions;
  Q_syn:
    type: Q_synthesis
    profiles:
      - /controllers/Q_syn_admittance_v0
      # - /controllers/Q_syn_admittance_v1
      # - /controllers/Q_syn_admittance_v2

  # m=2.5,b=12,k=0
  admittance_v0:
    type: transfer_matrix
    profiles:
      - /controllers/admittance_v0

  # m=6,b=18,k=0
  admittance_v1:
    type: transfer_matrix
    profiles:
      - /controllers/admittance_v1

