# tf stands for discrete-time transfer function
admittance_control:
  joint_pos_ref: [0, 0.571, 1.0, 0, 0, 0]
  ft_sensor_ref: [19.59, -21.48, 21.71, 0.969593, -1.054332, -0.552897]
  j1:
    tf_f2q_a: [0]
    tf_f2q_b: [1, -0.9995]
  j2:
    tf_f2q_a: [0]
    tf_f2q_b: [1, -0.9995]
  j3:
    tf_f2q_a: [0]
    tf_f2q_b: [1, -0.9995]
    # iter 0: classic admittance
    # tf_f2q_a: [0, 3.174e-5, 3.149e-05]
    # tf_f2q_b: [1, -1.9760, 0.9763]
    # -- co1: bad 
    # tf_f2q_a: [0.2667e-3,    0.4610e-3,   -0.5213e-3]
    # tf_f2q_b: [1.0000,   -1.9345,    0.9355]
    # -- co2: good
    # tf_f2q_a: [8.96e-5, 0.21894118e-3, -0.225005648564093e-3]
    # tf_f2q_b: [1.0,  -1.95781306940843, 0.958230747086933]

    # -- co3
    # tf_f2q_a: [0,    0.427229436495119e-3,   -0.552202391072199e-3,    0.132985802426482e-3]
    # tf_f2q_b: [1.0000,   -2.844753082187529,    2.694806599233063,   -0.850015989997929]

    # -- co4
    # tf_f2q_a: [0,   0.496238934530786e-3,  -0.671077692507785e-3,   0.181938016338066e-3]
    # tf_f2q_b: [1.000000000000000,  -2.806717419182626,   2.618724663642117,  -0.811986287629642]

    # -- co5
    # tf_f2q_a: [0,   0.253207742715084e-3,  -0.342451455367363e-3,   0.092866856768151e-3]
    # tf_f2q_b: [1.000000000000000,  -2.806733226547469,   2.618757445810666,  -0.812003256166275]
  j4:
    tf_f2q_a: [0]
    tf_f2q_b: [1, -0.9995]
  j5:
    tf_f2q_a: [0]
    tf_f2q_b: [1, -0.9995]
  j6:
    tf_f2q_a: [0]
    tf_f2q_b: [1, -0.9995]

# controller profiles

# co1 ------------------------------
# the continuous-time tf: 
#        1
# ---------------
# s^2 + 3 s + 5
#
# is transformed to the discrete-time tf with sampling time Ts=8ms:
#   3.174e-05 z + 3.149e-05
#   -----------------------
#   z^2 - 1.976 z + 0.9763
#  
# Sample time: 0.008 seconds
# tf_f2q_a: [0, 3.174e-5, 3.149e-05]
# tf_f2q_b: [1, -1.9760, 0.9763]

# co2 ------------------------------
# continuous-time tf (designed via loop shaping)
# performance: bad, strong vibration
# tf_f2q_a: [0.2667e-3,    0.4610e-3,   -0.5213e-3]
# tf_f2q_b: [1.0000,   -1.9345,    0.9355]

# co3 ---------------------------------------
# designed with loop-shaping
# performance: good
# tf_f2q_a: [8.96e-5, 0.21894118e-3, -0.225005648564093e-3]
# tf_f2q_b: [1.0,  -1.95781306940843, 0.958230747086933]

# co4 ---------------------------------------
# designed with H-infinity
# performance: okay, responsive
# tf_f2q_a: [0,    0.427229436495119e-3,   -0.552202391072199e-3,    0.132985802426482e-3]
# tf_f2q_b: [1.0000,   -2.844753082187529,    2.694806599233063,   -0.850015989997929]

# co5 ---------------------------------------
# designed with H-infinity, accounting for delay
# performance: fast, but slightly fluctuating
# tf_f2q_a: [0,   0.496238934530786e-3,  -0.671077692507785e-3,   0.181938016338066e-3]
# tf_f2q_b: [1.000000000000000,  -2.806717419182626,   2.618724663642117,  -0.811986287629642]

# co6 ----
# designed with H-infinity at LH = 0.7, which is higher than before, accounting for delay
# tf_f2q_a: [0,   0.253207742715084e-3,  -0.342451455367363e-3,   0.092866856768151e-3]
# tf_f2q_b: [1.000000000000000,  -2.806733226547469,   2.618757445810666,  -0.812003256166275]


# the discrete time tf
# 0 / (z - 0.999)
# means a converging joint position, regardless of torque input.
