# The below dictionary (admittance_control) contain parameters of the
# joint admittance controller.
joint_admittance_controller:

  # the reference joint position: actuation command will be added with
  # this reference before sending to the robot
  joint_pos_ref: [0, 0.571, 1.0, 0, 0, 0]

  # sensor reading (wrench) will be substracted with this value before processed.
  ft_sensor_ref: [19.59, -21.48, 21.71, 0.969593, -1.054332, -0.552897]
  # filter to be applied to the inconming signal stream
  ft_sensor_filter: /iir_siso/unit

  # control law for each joints
  j1:
    filter: /iir_siso/convergent_output
  j2:
    filter: /iir_siso/convergent_output
  j3:
    # filter: /iir_siso/hinf_co14 # or admittance_filter
    # filter: /iir_siso/admittance_filter
    filter: /fir_siso/fcbacd6
  j4:
    filter: /iir_siso/convergent_output
  j5:
    filter: /iir_siso/convergent_output
  j6:
    filter: /iir_siso/convergent_output

# a collection of iir siso discrete-time filters
iir_siso:
  # unit gain filter
  unit:
    b: [1]
    a: [1]

  # filter freqs > 10 rad/s
  low_pass:
    b: [0.089848614641397e-5, 0.359394458565587e-5, 0.539091687848381e-5, 0.359394458565587e-5, 0.089848614641397e-5]
    a: [1.0, -3.835825540647348, 5.520819136622229, -3.533535219463015, 0.848555999266477]

  # convergent output: regardless of input, the output decrease slowly to zero
  # to see this, write down the equation explicitly: y[n] - 0.9995 y[n - 1] = 0
  convergent_output:
    b: [0]
    a: [1, -0.9995]

  # classical admittance controller
  admittance_filter:
    b: [0, 3.174e-5, 3.149e-05]
    a: [1, -1.9760, 0.9763]

  # loop-shaping controller
  loopshaping:
    b: [8.96e-5, 0.21894118e-3, -0.225005648564093e-3]
    a: [1.0,  -1.95781306940843, 0.958230747086933]

  # co14: [Oct02_SISO_design] allows slight overshoot in response
  # (zeta = 0.8) best performing H-infinity controller as of
  # Oct/30/2018
  hinf_co14:
    b: [0, 0.000780043976221,  -0.001879759125377, 0.001518988906942, -0.000411374804692, 0]
    a: [1.0, -2.915259796026691, 2.835076504158775, -0.919776846642308, 0.000000000000039, 0]

  # co8: new model, try to have faster response by reducing the
  # constant constant in cmd->tau mapping. performance is very bad.
  hinf_co8:
    b: [0, 0.001935931855360,  -0.002207031475713,   0.000273935309565,0]
    a: [1.000000000000000,  -1.990486159780520,   0.990489963174695,   0.0, 0.0]

# a collection of FIR series+feedback 1-dof controller
fir_siso:
  convergent_output:
    T: 2
    ny: 1
    nu: 1
    L: [0, 0]
    MB2: [0, -0.9995]

  # commit: fcbacd6b9995770a888e350b9ce68be2ef5c7f8f, script: Oct23_1dot_admittance.py
  # controller designed for Joint 3 with the nominal model
  fcbacd6:
    T: 256
    ny: 1
    nu: 1
    L: [ 8.09154369e-07,  1.32428861e-06,  2.85349464e-06,  5.74601318e-06,
        1.14045367e-05,  2.22843892e-05,  4.40346241e-05,  8.31903600e-05,
        1.74435208e-04,  2.65328844e-04,  3.29224511e-04,  3.84090141e-04,
        4.27428314e-04,  4.68479279e-04,  5.02492618e-04,  5.32776901e-04,
        5.59433332e-04,  5.84869908e-04,  6.06766111e-04,  6.33348659e-04,
        6.53163232e-04,  6.70917816e-04,  6.86588303e-04,  7.00059339e-04,
        7.11394215e-04,  7.20679995e-04,  7.28035253e-04,  7.33625720e-04,
        7.37667210e-04,  7.40462786e-04,  7.42662611e-04,  7.45601168e-04,
        7.50907887e-04,  7.56907353e-04,  7.64845830e-04,  7.74581881e-04,
        7.86259284e-04,  8.00380569e-04,  8.16301631e-04,  8.33777204e-04,
        8.52049065e-04,  8.70520882e-04,  8.87873386e-04,  9.03723682e-04,
        9.18060351e-04,  9.30611810e-04,  9.40635902e-04,  9.47849201e-04,
        9.51789086e-04,  9.53011335e-04,  9.51791087e-04,  9.48965993e-04,
        9.45110714e-04,  9.41067182e-04,  9.36892719e-04,  9.32912025e-04,
        9.29273006e-04,  9.26621491e-04,  9.25133778e-04,  9.25038721e-04,
        9.25880923e-04,  9.27398479e-04,  9.28966929e-04,  9.30294092e-04,
        9.30904467e-04,  9.30802601e-04,  9.29695361e-04,  9.27526822e-04,
        9.23908024e-04,  9.18857595e-04,  9.12320609e-04,  9.04663626e-04,
        8.95957097e-04,  8.86563026e-04,  8.76584360e-04,  8.66379630e-04,
        8.55958354e-04,  8.45634337e-04,  8.35420563e-04,  8.25593293e-04,
        8.16021794e-04,  8.06790669e-04,  7.97697612e-04,  7.88918870e-04,
        7.80219844e-04,  7.71542499e-04,  7.62447122e-04,  7.52833139e-04,
        7.42334727e-04,  7.31006508e-04,  7.18633964e-04,  7.05395607e-04,
        6.91195922e-04,  6.76149683e-04,  6.59858401e-04,  6.42431315e-04,
        6.23968405e-04,  6.04836214e-04,  5.85090601e-04,  5.64849736e-04,
        5.44060011e-04,  5.22800651e-04,  5.00967145e-04,  4.78461487e-04,
        4.55462876e-04,  4.32482172e-04,  4.09472666e-04,  3.86299105e-04,
        3.63064839e-04,  3.39869639e-04,  3.16754671e-04,  2.93775746e-04,
        2.70975830e-04,  2.48363048e-04,  2.25966584e-04,  2.03918393e-04,
        1.82233942e-04,  1.60957154e-04,  1.40142763e-04,  1.19864797e-04,
        1.00217494e-04,  8.13528718e-05,  6.35382032e-05,  4.71611889e-05,
        3.33383228e-05,  2.19529239e-05,  1.13919372e-05,  3.42161199e-06,
       -3.07253489e-06, -7.39868557e-06, -1.08212037e-05, -1.36693475e-05,
       -1.37027439e-05, -1.01065018e-05, -5.14954030e-06, -5.64748105e-07,
        2.55624140e-06,  4.34271505e-06,  3.53895567e-06,  1.41350594e-06,
       -6.26399657e-07, -5.73040553e-07,  6.27667267e-07,  3.16198028e-07,
        2.63845308e-07,  2.40568333e-07,  2.22529475e-07,  2.03821329e-07,
        1.87270924e-07,  1.74147740e-07,  1.62703141e-07,  1.52320162e-07,
        1.42512055e-07,  1.33673669e-07,  1.25483173e-07,  1.17964733e-07,
        1.11042127e-07,  1.04714851e-07,  9.87846507e-08,  9.32968646e-08,
        8.81829167e-08,  8.33923781e-08,  7.88544676e-08,  7.45634266e-08,
        7.04767232e-08,  6.65890169e-08,  6.28782155e-08,  5.93369035e-08,
        5.59520320e-08,  5.27150406e-08,  4.96154339e-08,  4.66458862e-08,
        4.37981576e-08,  4.10679429e-08,  3.84501884e-08,  3.59420465e-08,
        3.35389753e-08,  3.12375030e-08,  2.90352816e-08,  2.69297004e-08,
        2.49183212e-08,  2.29988346e-08,  2.11692033e-08,  1.94274527e-08,
        1.77717413e-08,  1.62002599e-08,  1.47113091e-08,  1.33032165e-08,
        1.19743778e-08,  1.07232990e-08,  9.54872823e-09,  8.44952853e-09,
        7.42684180e-09,  6.47599909e-09,  5.59438422e-09,  4.78145550e-09,
        4.03498391e-09,  3.35285612e-09,  2.73309949e-09,  2.17341990e-09,
        1.67171733e-09,  1.22553264e-09,  8.32599785e-10,  4.90284333e-10,
        1.96220655e-10, -5.22751525e-11, -2.57308078e-10, -4.21365023e-10,
       -5.43850865e-10, -6.33519025e-10, -6.91377038e-10, -7.20925473e-10,
       -7.25448483e-10, -7.08373394e-10, -6.72787322e-10, -6.21934185e-10,
       -5.58650572e-10, -4.85986629e-10, -4.06613472e-10, -3.23644934e-10,
       -2.39459936e-10, -1.56831252e-10, -7.80182925e-11, -5.53824292e-12,
        5.85849275e-11,  1.11994995e-10,  1.52721471e-10,  1.78384699e-10,
        1.87192992e-10,  1.76109469e-10,  1.48301621e-10,  1.04727964e-10,
        5.04082311e-11, -6.94319277e-12, -5.73504603e-11, -9.13396388e-11,
       -1.05214749e-10, -9.79156903e-11, -6.90816071e-11, -2.23631592e-11,
        3.27033999e-11,  7.81747472e-11,  8.84515532e-11,  5.21146050e-11,
       -1.03998045e-11, -6.98273508e-11, -8.70503109e-11, -6.97763626e-12,
        8.90219603e-11,  8.66313391e-11, -1.73769279e-10,  9.27602613e-11,
       -1.94857402e-11,  5.66275490e-13,  2.89090744e-13, -2.24188742e-14]

    MB2: [ 0.00000000e+00,  8.16048097e-05,  1.45375960e-05,  1.18705278e-05,
           2.26993073e-05,  4.68502194e-05,  7.81861093e-05,  2.15994677e-04,
           9.38397201e-05,  1.78454889e-03, -5.56908029e-03, -1.99985540e-02,
          -2.99702109e-02, -3.32587882e-02, -3.02097306e-02, -2.46616032e-02,
          -1.82620822e-02, -1.22939548e-02, -7.17615599e-03, -3.61753168e-03,
          -5.30166006e-04,  1.86087447e-04,  2.18222110e-04,  1.91091977e-04,
           1.61797368e-04,  1.30405838e-04,  9.75058794e-05,  6.42417511e-05,
           3.06734635e-05, -7.41093020e-06, -5.61710827e-05, -1.02127572e-04,
          -1.18267167e-04, -1.77366599e-04, -7.90029853e-04, -1.69603038e-03,
          -2.82174866e-03, -4.06976430e-03, -5.31280299e-03, -6.62323166e-03,
          -7.93037890e-03, -9.18218570e-03, -1.02659663e-02, -1.11538345e-02,
          -1.16605555e-02, -1.16696964e-02, -1.12640069e-02, -1.06244639e-02,
          -9.79574889e-03, -8.82516784e-03, -7.64331612e-03, -6.34153303e-03,
          -5.00486732e-03, -3.80035583e-03, -2.83876520e-03, -2.28462206e-03,
          -2.13271175e-03, -2.32348626e-03, -2.71492636e-03, -3.28344250e-03,
          -3.99903551e-03, -4.88781452e-03, -5.85820088e-03, -6.82544497e-03,
          -7.64530553e-03, -8.24473836e-03, -8.54075300e-03, -8.57304506e-03,
          -8.37821322e-03, -8.04552973e-03, -7.58202481e-03, -7.01996311e-03,
          -6.36155532e-03, -5.69452185e-03, -5.06312907e-03, -4.54103578e-03,
          -4.13835461e-03, -3.89859007e-03, -3.78934047e-03, -3.81523491e-03,
          -3.93071278e-03, -4.14864340e-03, -4.42474263e-03, -4.74518803e-03,
          -5.03583333e-03, -5.30628127e-03, -5.53252254e-03, -5.73153435e-03,
          -5.84476447e-03, -5.86269373e-03, -5.73130010e-03, -5.47841278e-03,
          -5.09784878e-03, -4.65252412e-03, -4.17201913e-03, -3.73886949e-03,
          -3.31093580e-03, -2.86337063e-03, -2.38054775e-03, -1.93147417e-03,
          -1.55758092e-03, -1.28848839e-03, -1.09949902e-03, -9.80141226e-04,
          -9.03018913e-04, -8.04189106e-04, -6.31596405e-04, -4.76160924e-04,
          -4.00591212e-04, -3.72119720e-04, -3.57704417e-04, -3.50822889e-04,
          -3.48046194e-04, -3.48254942e-04, -3.53179372e-04, -3.57001060e-04,
          -3.43723298e-04, -3.27056362e-04, -3.13459863e-04, -3.02848057e-04,
          -2.93264156e-04, -2.84651499e-04, -2.76511686e-04, -2.67285571e-04,
          -2.64993471e-04, -2.31532688e-04, -3.68431467e-04, -9.10886697e-04,
          -1.39883058e-03, -1.95848763e-03, -2.44704271e-03, -3.00692384e-03,
          -3.52622356e-03, -3.61972088e-03, -3.49301265e-03, -3.76475816e-03,
          -4.44368582e-03, -5.13303492e-03, -5.37058859e-03, -5.17438948e-03,
          -4.35138418e-03, -3.00492958e-03, -1.42312527e-03, -3.12401223e-04,
          -8.66849817e-05, -4.69074938e-05, -3.08454931e-05, -2.17530353e-05,
          -1.68417686e-05, -1.35407007e-05, -1.08073016e-05, -8.80635797e-06,
          -7.43687758e-06, -6.46067541e-06, -5.59039181e-06, -4.80986100e-06,
          -4.10424741e-06, -3.48615021e-06, -2.95795464e-06, -2.54070301e-06,
          -2.19993966e-06, -1.92464907e-06, -1.70463412e-06, -1.53038004e-06,
          -1.38306172e-06, -1.25631613e-06, -1.14268774e-06, -1.04114034e-06,
          -9.50053405e-07, -8.69449703e-07, -7.98656696e-07, -7.37050317e-07,
          -6.83289656e-07, -6.36221598e-07, -5.94342276e-07, -5.56791724e-07,
          -5.22812088e-07, -4.92189461e-07, -4.64542066e-07, -4.39356304e-07,
          -4.16334376e-07, -3.95252683e-07, -3.75899879e-07, -3.58053961e-07,
          -3.41533347e-07, -3.26183710e-07, -3.11884812e-07, -2.98529214e-07,
          -2.86032105e-07, -2.74320165e-07, -2.63326513e-07, -2.52985241e-07,
          -2.43268312e-07, -2.33960722e-07, -2.25778840e-07, -2.18593630e-07,
          -2.11780513e-07, -2.05251876e-07, -1.99002683e-07, -1.92987370e-07,
          -1.87202502e-07, -1.81599787e-07, -1.76178886e-07, -1.70892087e-07,
          -1.65737641e-07, -1.60656694e-07, -1.55642123e-07, -1.50614296e-07,
          -1.45603960e-07, -1.40336576e-07, -1.35910192e-07, -1.31559904e-07,
          -1.26984780e-07, -1.22087791e-07, -1.16853385e-07, -1.11242178e-07,
          -1.05281205e-07, -9.89719713e-08, -9.23891033e-08, -8.55663904e-08,
          -7.86083067e-08, -7.14910859e-08, -6.42779854e-08, -5.69663915e-08,
          -4.96128419e-08, -4.22077248e-08, -3.48098518e-08, -2.74117316e-08,
          -2.00582996e-08, -1.26851278e-08, -5.38950300e-09,  2.50098629e-09,
           1.06434864e-08,  1.88290563e-08,  2.66761648e-08,  3.34573015e-08,
           3.79540097e-08,  3.84895025e-08,  3.43969410e-08,  2.63391913e-08,
           1.52920386e-08,  2.25022293e-09, -1.17015717e-08, -2.48049017e-08,
          -3.23830537e-08, -2.85213046e-08, -1.34659566e-08,  7.75832945e-09,
           2.88421039e-08,  2.77841139e-08, -2.35410322e-11, -4.28046230e-08,
           1.98652791e-08, -7.96679383e-11, -7.78622708e-10, -1.71352135e-11]

