# this is also the name of the controller node.
hybrid_force_controller:

  # This parameter selects the active controller
  # active_controller: Q_syn
  active_controller: integral

  debug: true
  viewer: false

  # common parameters specific to the robot
  scene_path: robots/denso_ft_sensor_gripper.robot.xml
  robot_name: denso_ft_sensor_gripper
  manip_frame: gripper
  ftsensor_frame: ft_sensor
  robot_control_method: direct

  search_velocity_mm_sec: 1
  search_force_threshold: 2.0  # need to be positive
  safety_force_threshold: 20

  gam: 1.0e-5
  gam2: 0.0e-5

  # controllers definitiosn
  Q_syn:
    type: Q_synthesis

    # DESCRIPTION:

    # INTENDED BEHAVIOR: 

    # IMPLEMENTATION NOTE:

    controllers:
      - /controllers/Q_syn0_0  # controller 0, version 0

  integral:
    type: PI
    controllers:
      - /controllers/integral0_0  # controller 0, version 0
