<?xml version="1.0"?>
<!-- This launch file can be used to launch an gazebo instance. -->
<!-- Simply call this launch file with the default parameters. -->
<launch>
  <rosparam command="load" file="$(find infinite_interaction)/config/admittance_params.yaml"/>
  <rosparam>
    joint_admittance_controller:
        debug: true
    <!-- if true, turn on debug mode; additional
	 data will be published to debug topics-->
  </rosparam>
  <node name="joint_admittance_controller" pkg="infinite_interaction" type="joint_admittance_controller" output="screen"/>

</launch>
