<?xml version="1.0"?>
<launch>

  <arg name="robot_namespace"   default="denso" />
  <arg name="robot_urdf"        default="denso_vs060_robot.urdf.xacro" />
  <arg name="ftsensor_namespace"   default="/netft/ft_sensor/raw" />
  <arg name="ftsensor_rate"        default="1000" />


  <!-- launch file parameters -->
  <arg name="paused"      default="false"/>
  <arg name="debug"       default="false"/>
  <arg name="gui"         default="true"/>
  <arg name="rate"        default="125" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"      value="$(arg paused)"/>
    <arg name="debug"       value="$(arg debug)"/>
    <arg name="gui"         value="$(arg gui)"/>
  </include>
  
  <group ns="$(arg robot_namespace)">
    <!-- send robot urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder
					     '$(find infinite_interaction)/data/urdf/$(arg robot_urdf)'
					     ftsensor_namespace:=$(arg ftsensor_namespace)
					     ftsensor_rate:=$(arg ftsensor_rate)"/>
    <param name="joint_state_controller/publish_rate" type="double" value="125" />
    <!-- spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.59" output="screen" />
  </group>

</launch>
