<?xml version="1.0"?>
<launch>
  <remap from="netft_data" to="netft/raw"/>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find infinite_interaction)/config/rosconsole.conf"/>
  <node name="netft_node" pkg="netft_control" type="netft_node"
	output="screen" args="--address 192.168.0.22 --rate 250"/>
</launch>
